Flask==3.0.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.25
Flask-Migrate==4.0.5
Flask-WTF==1.2.1
WTForms==3.1.2
Flask-Login==0.6.3
python-dotenv==1.0.0
num2words==0.5.13
reportlab==4.1.0
Pillow==10.3.0  # Versão atualizada
psycopg2-binary==2.9.9
gunicorn==21.2.0