<!-- templates/member_form.html -->
{% extends "base.html" %}

{% block content %}
<h1>{{ legend }}</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }} <!-- CSRF Token -->
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {% if form.name.errors %}
            {{ form.name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% else %}
            {{ form.name(class="form-control") }}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('list_members') }}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}